@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.loading {
		@apply p-8 text-center animate-pulse;
	}

	.retry-button {
		@apply mt-4 px-4 py-2 bg-blue-500 text-white rounded;
	}

	.dashboard-input {
		@apply border p-2 rounded w-64 text-black cursor-pointer;
	}

	.dashboard-no-products-message {
		@apply px-6 py-10 text-center text-gray-500 italic;
	}

	.simulate-error-button {
		@apply text-xs text-gray-400 hover:text-red-400 ml-auto cursor-pointer;
	}

	.select-svg {
		@apply h-5 w-5 ml-1 absolute top-2.5 right-1.5 text-slate-700 pointer-events-none;
	}

	.back-button-style {
		@apply flex items-center text-slate-600 mb-8 transition-colors outline-1 p-2 rounded-sm cursor-pointer hover:bg-slate-900 hover:text-white;
	}

	.no-product-container {
		@apply flex flex-col items-center justify-center min-h-screen text-center p-6;
	}

	.no-product-header {
		@apply text-2xl font-bold text-gray-900;
	}

	.table-status-badge-style {
		@apply px-2 py-1 rounded-full text-xs font-semibold;
	}

	/* Item Detail Page */

	.item-status-badge-style {
		@apply px-3 py-1 rounded-full text-sm font-semibold border;
	}

	.item-product-name {
		@apply text-3xl font-bold text-gray-900 mb-2;
	}

	.item-product-category {
		@apply text-lg text-gray-500;
	}

	.item-details-main {
		@apply bg-white shadow-sm border border-gray-200 rounded-xl overflow-hidden;
	}

	.item-details-product-header-container {
		@apply p-8 border-b border-gray-100 flex justify-between items-start;
	}

	.item-details-info-container {
		@apply p-8 grid grid-cols-1 md:grid-cols-2 gap-8;
	}

	/* Item Detail Edit Page */

	.item-edit-container {
		@apply min-h-screen bg-gray-50 p-8;
	}

	.item-edit-form {
		@apply bg-white shadow-sm border border-gray-200 rounded-xl p-8;
	}

	.item-edit-h1 {
		@apply text-2xl font-bold text-gray-900;
	}

	.item-edit-h2 {
		@apply text-sm text-gray-500;
	}

	.item-input-product-name {
		@apply border p-2 rounded text-black w-full;
	}
}

@layer utilities {
	.table-header {
		@apply px-6 py-3;
	}

	.table-row {
		@apply hover:bg-gray-50 transition-colors cursor-pointer text-gray-800;
	}

	.table-data {
		@apply px-6 py-4;
	}

	.main-header {
		@apply text-2xl font-bold mb-6;
	}

	.select-style {
		@apply border p-2 rounded text-black cursor-pointer w-full appearance-none;
	}

	.link-button {
		@apply px-6 py-2 bg-slate-900 text-white rounded-lg hover:bg-slate-800 transition;
	}

	.edit-button {
		@apply flex-1 bg-slate-900 text-white py-3 rounded-lg font-medium hover:bg-slate-800 transition cursor-pointer;
	}

	.delete-button {
		@apply px-6 py-3 border border-red-200 text-red-600 rounded-lg font-medium hover:bg-red-100 transition cursor-pointer;
	}

	.cancel-button {
		@apply px-6 py-3 border border-red-200 text-red-600 rounded-lg font-medium hover:bg-red-100 transition cursor-pointer;
	}

	.save-button {
		@apply bg-slate-900 text-white py-3 px-6 rounded-lg font-medium hover:bg-slate-600 transition disabled:opacity-50 cursor-pointer;
	}

	.input-error {
		@apply text-red-500 text-xs mt-1;
	}

	.form-label {
		@apply block text-xs font-bold text-gray-500 uppercase tracking-wider mb-2;
	}
}
